- var title ='Alta de Persona'
include ..\includes\layout
block content
html(lang="es")
  head
    style.
      #formPersona {
        max-width: 600px;
        margin: auto;
      }
      h2 {
        text-align: center;
        text-decoration: underline;
        text-underline-offset: 4px;
        margin-top: 10px;
      }
      label {
        margin-bottom: 5px;
      }
  body
    #formPersona
      h2.text-center Ingresar una Persona
      if messages.error
        .alert.alert-danger
          = messages.error
      form(action="/personas", method="post" onsubmit="return validarFormulario()")
        .form-group
          label.form-label(for="dni") DNI:
          .input-group.has-validation
            input.form-control(type="text" id="dni" name="DNI" required)
            .invalid-feedback.d-none(id="dniExiste") dni ya existe
            .invalid-feedback.d-none(id="dniInvalido") dni no es valido
        .form-group
          label.form-label(for="nombre") Nombre:
          input(type="text" class="form-control" id="nombre" name="nombre" required)
        .form-group
          label(for="apellido") Apellido:
          input(type="text" class="form-control" id="apellido" name="apellido" required)
        .form-group
          label(for="email") Email:
          input(type="email" class="form-control" id="email" name="email" required)
        .form-group
          label(for="fechaDeNacimiento") Fecha de Nacimiento:
          input(type="date" class="form-control" id="fechaDeNacimiento" name="fechaDeNacimiento" required)
        .form-group
          label(for="ocupacion") Ocupación:
          select(class="form-control" name="ocupacion" id="ocupacion" required)
            option(disabled selected hidden) Selecciona una Ocupacion:
            option(value="agente de salud") Agente de Salud
            option(value="otro") Otro
        .form-group.d-none#matriculaDiv
          label(for="matricula" id="matriculaLabel") Matrícula:
          input(type="number" class="form-control" id="matricula" name="matricula")
        .form-group
          label(for="genero") Género:
          select(class="form-control" name="genero" required)
            option(value="Masculino") Masculino
            option(value="Femenino") Femenino
            option(value="Otro") Otro
        .form-group
          label(for="celular1") Celular 1:
          input(type="tel" class="form-control" id="celular1" name="celular1" title="Debe contener un máximo de 10 digitos")
        .form-group
          label(for="celular2") Celular 2:
          input(type="tel" class="form-control" id="celular2" name="celular2" title="Debe contener un máximo de 10 digitos")
        .form-group
          label(for="patologiaBase") Patologia Base:
          input(type="text" class="form-control" id="patologiaBase" name="patologiaBase")
        .form-group
          label(for="longitud") Longitud:
          input(type="text" class="form-control" id="longitud" name="longitud")
        .form-group
          label(for="latitud") Latitud:
          input(type="text" class="form-control" id="latitud" name="latitud")
        button(type="submit" class="btn btn-primary") Guardar

  script.
    /*
    function seleccionarOcupacion() {
      var rolSelect = document.getElementById("ocupacion");
      var matriculaLabel = document.getElementById("matriculaLabel");
      var matriculaInput = document.getElementById("matricula");
      var matriculaDiv = document.getElementById("matriculaDiv");
      if (rolSelect.value === "agente de salud") {
        matriculaLabel.style.display = "block";
        matriculaInput.style.display = "block";
        matriculaDiv.style.display = "block";
      } else {
        matriculaLabel.style.display = "none";
        matriculaInput.style.display = "none";
        matriculaDiv.style.display = "none";
      }
    }
    */
    const namePattern = /^[A-Za-záéíóúüñÁÉÍÓÚÜÑ\s]{1,30}$/;
    const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

    function validarRegex(regex){
      if(!regex.test($(this).val())){
        this.addClass('is-invalid');
        this.removeClass('is-valid');
      } else {
        this.addClass('is-valid');
        this.removeClass('is-invalid');
      }
    }

    function validarExistente(endpoint){
      $.post(endpoint, {data:this.val()},  res=>{
        if(res.existe || !res.valido){
          $('#'+endpoint).addClass('is-invalid').removeClass('is-valid');
          if (res.existe){
            $('#'+endpoint+'Existe').addClass("is-invalid").removeClass("d-none")
          } else if (!res.valido){
            $('#'+endpoint+'Invalido').addClass("is-invalid").removeClass("d-none")
          }
        } else {
          $('#'+endpoint).addClass('is-valid').removeClass('is-invalid');
          $('#'+endpoint+'Invalido').addClass("d-none").removeClass("is-invalid")
          $('#'+endpoint+'Existe').addClass("d-none").removeClass("is-invalid")
        }
      })
    }

    $(function (){
      $('#ocupacion').on('change', function(){
        console.log($('#ocupacion').val()==='agente de salud')
        if($('#ocupacion').val()==='agente de salud'){
          $('#matriculaDiv').removeClass('d-none')
        } else {
          $('#matriculaDiv').addClass('d-none')
        }
      })
      $('#dni').on('keyup',  validarExistente.bind( $('#dni'), 'dni'));
      $('#matricula').on('keyup',  validarExistente.bind($('#matricula'), 'matricula'));
      $('#nombre').on('keyup', validarRegex.bind($('#nombre'), namePattern));
      $('#apellido').on('keyup', validarRegex.bind($('#apellido'), namePattern));
      $('#email').on('change', validarRegex.bind($('#email'), emailPattern));
      
      
      $('#fechaDeNacimiento').on('focusout', ()=> {
        const fechaActual = new Date();
        const date = new Date($('#fechaDeNacimiento').val());
        const year = date.getFullYear();
        if (isNaN(date.getTime()) || year < 1922 || fechaActual < date || $('#ocupacion').val() === 'agente de salud' && fechaActual.getFullYear()-year < 23) {
          $('#fechaDeNacimiento').addClass('is-invalid')
          $('#formPersona').on('submit', (event)=> {
            event.preventDefault();
          })
        } else {
          $('#fechaDeNacimiento').addClass('is-valid')
        }
      })
      $('#ocupacion').on('click', ()=> {
        const fechaActual = new Date();
        const date = new Date($('#fechaDeNacimiento').val());
        const year = date.getFullYear();
        if ($('#ocupacion').val() === 'agente de salud' && fechaActual.getFullYear()-year < 23 || isNaN(date.getTime())) {
          $('#fechaDeNacimiento').addClass('is-invalid')
        } else {
          $('#fechaDeNacimiento').addClass('is-valid')
        }
        console.log($('#ocupacion').val())
        if($('#ocupacion').val() === null) {
          $('#ocupacion').addClass('is-invalid')
        } else {
          $('#ocupacion').addClass('is-valid')
        }
      })
      $('#ocupacion').on('click', ()=> {
        const fechaActual = new Date();
        const date = new Date($('#fechaDeNacimiento').val());
        const year = date.getFullYear();
        if ($('#ocupacion').val() === 'agente de salud' && fechaActual.getFullYear()-year < 23 || isNaN(date.getTime())) {
          $('#fechaDeNacimiento').addClass('is-invalid')
        } else {
          $('#fechaDeNacimiento').addClass('is-valid')
        }
        console.log($('#ocupacion').val())
        if($('#ocupacion').val() === null) {
          $('#ocupacion').addClass('is-invalid')
        } else {
          $('#ocupacion').addClass('is-valid')
        }
      })
      
    });