- var title = 'Listado de Personas'
include ..\includes\layout
block content
head
    title Personas
    style.
        h2 {
            text-align: center;
            text-decoration: underline;
            text-underline-offset: 4px; /* Ajusta el espacio entre el texto y el subrayado */
        }

        .modal-content {
            background-color: #f1f1f1;
            padding: 20px;
            border-radius: 10px;
        }

        .modal-header {
            background-color: #dc3545;
            color: white;
        }

        .modal-footer {
            background-color: #f1f1f1;
        }

        .flash-message {
            display: none;
            opacity: 1;
            transition: opacity 1s ease-out;
        }

        .fade-in {
            display: block;
            animation: fadeOut 3s 1s; /* fadeIn dura 3 segundos, fadeOut comienza después de 3 segundos y dura 2 segundos */
        }

        @keyframes fadeOut {
            from {
                opacity: 1;
            }
            to {
                opacity: 0;
            }
        }
body
    div.container.my-4
        div.row
            div.col-sm-13.col-md-13.col-lg-13.col-xl-13
                section#viewPersonas
                    h2 Listado de Personas
                    br
                    if messages.success
                        .alert.alert-success.flash-message.fade-in
                            = messages.success
                    div.modal#confirmDeleteModal(tabindex="-1" role="dialog")
                        div.modal-dialog(role="document")
                            div.modal-content
                                div.modal-header
                                    h5.modal-title Confirmar Eliminación
                                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                                        span(aria-hidden="true") &times;
                                div.modal-body
                                    p ¿Está seguro de que desea eliminar esta persona?
                                div.modal-footer
                                    button.btn.btn-secondary(id="cancelDeleteBtn" type="button" data-dismiss="modal") Cancelar
                                    button.btn.btn-danger(id="confirmDeleteBtn" type="button") Confirmar
                    div(style="text-align: left;")
                        a.btn.btn-primary.btn-lg(href="/personas/alta") Alta
                        br
                        br
                        div.table.responsive 
                            table#personas.table.table-striped.table-bordered


script.
    let pers = !{JSON.stringify(personas)};
    let perstab 
    $(document).ready(function() {
        perstab = $('#personas').DataTable({
            data: pers,
            pageLength:5,
            lengthMenu:[5,10,15,20],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-AR.json'
            },
            columns:[
                {data: 'DNI', title:'DNI'},
                {data: 'nombre', title: 'Nombre'},
                {data: 'apellido', title: 'Apellido'},
                {data: 'email', title: 'Email'},
                {data: 'fechaDeNacimiento', title: 'Fecha de Nacimiento'},
                {data: 'ocupacion', title: 'Ocupación'},
                {data: 'genero', title: 'Género'},
                {data: 'Telefono.celular1', title: 'Celular 1', createdCell: agregarMensajeSiVacio },
                {data: 'Telefono.celular2', title: 'Celular 2', createdCell: agregarMensajeSiVacio },
                //{data: 'Patologiabases.patologiaBase', title: 'Patología Base'},
                {data: 'Patologiabases', title: 'Patología Base', render: function (data) {
                    let patologias = '';
                    for (let i = 0; i < data.length; i++) {
                        patologias += data[i].patologiaBase;
                    }
                    return patologias;
                }},
                {data: 'Agentedesalud.matricula', title: 'Matrícula', createdCell: agregarMensajeSiVacio },
                {data: 'longitud', title: 'Longitud'},
                {data: 'latitud', title: 'Latitud'},

                {
                    data: 'opciones', title: 'Opciones',
                    render: function(data, type, row) {
                        return `<button class="btn btn-success btn-sm fa-solid fa-pencil me-2"></button>` +
                            `<button class="btn btn-danger btn-sm fa-solid fa-trash-can"></button>`;
                    }
                }
            ],
            columnDefs: [
                // {orderable: false, targets:[13]}, // Columna de "Opciones"
                    {searchable: false, targets:[11, 12]},
                    {className: "dt-center", targets: [0, 3, 4, 5, 9, 13]},
                    { width: "7%", targets: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11] },
                    { width: "10%", targets: [13] }
            ]
        });

        function agregarMensajeSiVacio(td, cellData, rowData, row, col) {
            // Verificar si la celda está vacía y agregar el mensaje
            if (!cellData) {
                $(td).text("No posee");
            }
        }
    });

    $(document).ready(function() {
        $('.flash-message').addClass('fade-in');
        setTimeout(function() {
            $('.flash-message').removeClass('fade-in');
        }, 3000);

        perstab.on('click', 'button', function (f) {
            let data = perstab.row(f.target.closest('tr')).data();
            if ($(event.target).hasClass('fa-trash-can')) {
                $('#confirmDeleteModal').modal('show');
                $('#confirmDeleteBtn').on('click', function() {
            // Realizar la acción de eliminación
            $.ajax({
                url: '/personas/' + data.DNI + '?_method=DELETE',
                type: 'POST',
                success: function(data) {
                    if (data.success) {
                        window.location.href = "/personas";
                    } else {
                        console.error(data.message);
                        //window.location.href = "/personas";
                    }
                },
                error: function(error) {
                    console.error(error);
                }
            });

            $('#confirmDeleteModal').modal('hide');
        });

        // Configurar el botón de cancelar y la 'X' para cerrar el modal
        $('#cancelDeleteBtn, .modal-header button.close').on('click', function() {
            $('#confirmDeleteModal').modal('hide');
        });
            } else {
                window.location.href = "/personas/" + data.DNI;
            }
        });

        // Configurar el botón de confirmar y la 'X' para cerrar el modal
    });

    function crearP(){
        window.location.href= "/personas/alta"
    }