include ..\includes\layout
block content
head
    title Personas
    style.
        h2 {
            text-align: center;
            text-decoration: underline;
            text-underline-offset: 4px; /* Ajusta el espacio entre el texto y el subrayado */
        }
body
    div.container.my-4
      div.row
        div.col-sm-13.col-md-13.col-lg-13.col-xl-13
            section#viewPersonas
                h2 Listado de Personas
                br
                if messages.success
                    .alert.alert-success
                        = messages.success
                div(style="text-align: left;")
                    a.btn.btn-primary.btn-lg(href="/personas/alta") Alta
                    br
                    br
                    div.table.responsive 
                        table#personas.table.table-striped.table-bordered              
script.
    let pers = !{JSON.stringify(Personas)};

    let perstab 
    $(document).ready(function() {
        perstab = $('#personas').DataTable({
            data: pers,
            pageLength:5,
            lengthMenu:[5,10,15,20],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-AR.json'
            },
            columns:[
                {data: 'DNI', title:'DNI'},
                {data: 'nombre', title: 'Nombre'},
                {data: 'apellido', title: 'Apellido'},
                {data: 'email', title: 'Email'},
                {data: 'fechaDeNacimiento', title: 'Fecha de Nacimiento'},
                {data: 'ocupacion', title: 'Ocupación'},
                {data: 'genero', title: 'Género'},
                {data: 'Telefono.celular1', title: 'Celular 1'},
                {data: 'Telefono.celular2', title: 'Celular 2'},
                {data: 'Patologiabases', title: 'Patología Base', render: function (data) {
                    let patologias = '';
                    for (let i = 0; i < data.length; i++) {
                        patologias += data[i].patologiaBase;
                    }
                    return patologias;
                }},
                {data: 'Agentedesalud.matricula', title: 'Matrícula'},
                {data: 'longitud', title: 'Longitud'},
                {data: 'latitud', title: 'Latitud'},

                {
                    data: 'opciones', title: 'Opciones',
                    render: function(data, type, row) {
                        return `<button class="btn btn-success btn-sm fa-solid fa-pencil me-2"></button>` +
                            `<button class="btn btn-danger btn-sm fa-solid fa-trash-can"></button>`;
                    }
                }
            ],
            columnDefs: [
               // {orderable: false, targets:[13]}, // Columna de "Opciones"
                {searchable: false, targets:[11, 12]},
                {className: "dt-center", targets: [0, 3, 4, 5, 9, 13]},
                { width: "7%", targets: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11] },
                { width: "10%", targets: [13] }
            ]
        });
    });

    $(document).ready(function() {
        perstab.on('click', 'button', function (f) {
            let data = perstab.row(f.target.closest('tr')).data();
            if ($(event.target).hasClass('fa-trash-can')) {
                if(confirm("¿Desea eliminar la Persona?")){
                    $.ajax({
                        url: '/personas/'+data.DNI+'?_method=DELETE',
                        type: 'POST',
                        success: function(data) {
                            if (data.success) {
                                window.location.href = "/personas";
                            } else {
                                console.error(data.message);
                                window.location.href = "/personas";
                            }
                        },
                        error: function(error) {
                            console.error(error);
                        }
                    });
                }
            } else {window.location.href= "/personas/" + data.DNI}
        })
    }); 
    
    function crearP(){
        window.location.href= "/personas/alta"
    }