nav.navbar.navbar-expand-md.bg-dark
    div.container-fluid
        div.collapse.navbar-collapse
            ul.navbar-nav.mx-auto
                li.nav-item
                    a.nav-link.text-light(href="/") Inicio
                li.nav-item
                    a.nav-link.text-light(href="/personas") Personas
                li.nav-item
                    a.nav-link.text-light(href="/laboratorios") Laboratorios
                li.nav-item
                    a.nav-link.text-light(href="/centrosdevacunacion") Centros de Vacunacion
                li.nav-item
                    a.nav-link.text-light(href="/traslados") Traslados
                li.nav-item
                    a.nav-link.text-light(href="/aplicaciones") Aplicaciones
                li.nav-item
                    a.nav-link.text-light(href="/descartes") Descartes
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle.text-light#toggleDepositos(data-bs-toggle="dropdown" data-bs-target="depositos" aria-haspopup="true" aria-expanded="false") Depositos
                    ul.dropdown-menu.bg-dark#depositos(aria-labelledby="toggleDepositos")
                        a.nav-link.text-light(href="/depositosprovinciales") Provinciales
                        a.nav-link.text-light(href="/depositosnacionales") Nacionales
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle.text-light#toggleLotes(data-bs-toggle="dropdown" data-bs-target="lotes" aria-haspopup="true" aria-expanded="false") Lotes
                    ul.dropdown-menu.bg-dark#lotes(aria-labelledby="toggleLotes")
                        a.nav-link.text-light(href="/lotesinternos") Internos
                        a.nav-link.text-light(href="/lotesproveedores") Proveedores
                li.nav-item
                    a.nav-link.text-light(href="/usuarios") Usuarios
