include ..\includes\layout
block content
head
    title Aplicacion
    style.
        h2 {
            text-align: center;
            text-decoration: underline;
            text-underline-offset: 4px; /* Ajusta el espacio entre el texto y el subrayado */
        }
body
    div.container.my-4
      div.row
        div.col-sm-12.col-md-12.col-lg-12.col-xl-12
            section#viewAplicaciones
                h2 Listado de Aplicaciones
                br
                if messages.success
                    .alert.alert-success
                        = messages.success 
                div(style="text-align: left;")
                    a.btn.btn-primary.btn-lg(href="/aplicaciones/crear") Crear
                    br
                    br
                    div.table.responsive
                        table#aplicaciones.table.table-striped.table-bordered               
       
script.
    let aplic = !{JSON.stringify(aplicacion)};
    let apptab 
    $(document).ready(function() {
        apptab = $('#aplicaciones').DataTable({
            data: aplic,
            pageLength:5,
            lengthMenu:[5,10,15,20],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-AR.json'
            },
            columns:[
                {data: 'idAplicacion', title: 'ID de la Aplicación'},
                {data: 'Persona.nombre', title: 'Nombre del Paciente'},
                {data: 'Persona.apellido', title: 'Apellido del Paciente'},
                {data: 'Agentedesalud.Persona.nombre', title: 'Nombre del Agente de Salud'},
                {data: 'Agentedesalud.Persona.apellido', title: 'Apellido del Agente de Salud'},
                {data: 'Loteinterno.numeroDeSerie', title: 'Número de Serie de la Vacuna'},
                {data: 'fechaDeAplicacion', title: 'Fecha de Aplicacion'},
                {
                    data: null, title: 'Opciones',
                    render: function(data, type, row) {
                        return `<button class="btn btn-success btn-sm fa-solid fa-pencil me-2"></button>` +
                            `<button class="btn btn-danger btn-sm fa-solid fa-trash-can"></button>`;
                    }
                }
            ],
            columnDefs: [
                {orderable: false, targets:[7]}, // Columna de "Opciones"
                {className: "dt-center", targets: [0, 1, 2, 3, 4, 5, 6, 7]},
                { width: '12%', targets: [0, 1, 2] },
                { width: '14%', targets: [3, 4, 5] },	
                { width: '10%', targets: [6] },
            ]
        });
    });
    $(document).ready(function() {
        apptab.on('click', 'button', function (f) {
            let data = apptab.row(f.target.closest('tr')).data();
            if ($(event.target).hasClass('fa-trash-can')) {
                if(confirm("¿Desea eliminar una Aplicación?")){
                    $.post('/aplicaciones/'+data.idAplicacion+'?_method=DELETE', function(data){
                         window.location.href = "/aplicaciones";
                    })
                }
            } else {window.location.href= "/aplicaciones/" + data.idAplicacion}
        })
    });
    function crear(){
        window.location.href= "/aplicaciones/crear"
    }