head
    title Aplicacion Vacunas
section#formAplicacion
h2 Aplicación de Vacunas
form(action="/guardar-aplicacion" method="post")
      label(for="persona") Seleccione un Agente de Salud existente:
      select#personaSelect(name="DNIAgente")
        option(value="") Seleccione un agente de salud para ingresar su matricula:
            each persona in personas
                if(persona.ocupacion === "agenteDeSalud")
                    option(value=persona.DNI)= persona.nombre + ' ' + persona.apellido
      br
      br
      label(for="persona") Seleccione un DNI de una Persona existente:
      select#personaSelect(name="DNIPaciente")
        option(value="") Seleccione un DNI para asignarle una patologia a la vez:
            each persona in personas
                option(value=persona.DNI)= persona.nombre + ' ' + persona.apellido
      br
      br
      label(for="num-serie") Nº de Serie Lote Interno:
      select#numeroDeSerieSelect(name="numeroDeSerie")
            option(value="") Selecciona un Lote Interno
                each loteI in lotesInternos
                    option(value=loteI.numeroDeSerie)= loteI.numeroDeSerie
      br
      br
      label(for="fecha-aplic") Fecha Aplicación Vacuna:
      input(type="date" id="fecha-aplic" name="fechaDeAplicacion" required)
      br
      br
    
      button(type="submit") Guardar