head
    title Patologia Base
section#formPatologiaBase
h2 Ingresar Patologías Base
form(action="/guardar-patologiabase" method="post")
      label(for="persona") Seleccione un DNI de una Persona existente:
        select(name="persona", onchange="document.querySelector('#dni').value = this.value")
            option(value="" selected)
                each pat in personas
                    option(value=pat.DNI) #{pat.DNI}
      br
      br
      label(for="dni") DNI:
      input(type="text" id="dni" name="DNI" required)
      br
      br
      label(for="patol-base") Patología Base:
      input(type="text" id="patol-base" name="patologiaBase" required)
      br
      br
      
      button(type="submit") Guardar