head
    title Agente Salud
section#formAgenteDeSalud
h2 Ingresar Agente de Salud
form(action="/guardar-agentedesalud" method="post")
      label(for="persona") Seleccione un Agente de Salud existente:
      select(name="persona", onchange="document.querySelector('#dni').value = this.value")
        option(value="" selected)
        each agente in personas
            if agente.ocupacion === "Agente de Salud"
                option(value=agente.DNI) #{agente.DNI}
      br
      br
      label(for="dni") DNI:
      input(type="text" id="dni" name="DNI" required)
      br
      br
      label(for="matricula") Matrícula:
      input(type="text" id="matricula" name="matricula" required)
      br
      br
  
      button(type="submit") Guardar