head
    title Telefono
section#formTelefono
h2 Ingresar Teléfonos
form(action="/guardar-telefono" method="post")
      label(for="persona") Seleccione un DNI de una Persona existente:
      select#personaSelect(name="DNI")
        option(value="") Seleccione un DNI para asignarle uno o dos telefonos:
            each persona in personas
                option(value=persona.DNI)= persona.nombre + ' ' + persona.apellido
      br
      br
      label(for="celular1") Celular 1:
      input(type="text" id="celular1" name="celular1")
      label(for="celular2") Celular 2:
      input(type="text" id="celular2" name="celular2")
      br
      br
      
      button(type="submit") Guardar