include .\includes\layout
block content
head
  title Argentina Vacuna
  style.

    body{
      background-image: url('images/fondo2.jpg');
      background-size: cover;
    }
    h1{
      color: black;
      font-size: 8em;
      margin-top: 350px;
      text-align: center;
    }
body
  h1 Argentina Vacuna
