- const title ='Actualizar centro de vacunación'
include ..\includes\layout
block content
html(lang='es') 
head
	link(rel='stylesheet' href='https://unpkg.com/leaflet@1.9.4/dist/leaflet.css' integrity='sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=' crossorigin='')
	script(src='https://unpkg.com/leaflet@1.9.4/dist/leaflet.js' integrity='sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=' crossorigin='')
body
	h2.text-center Actualice los datos del centro de vacunación
	if messages.error
		.alert.alert-danger
			= messages.error
	br
	form#form(action=`/centrosdevacunacion/${centroV.idCentroDeVacunacion}?_method=PUT` method='post')
		.form-group
			label.form-label.text-center ID del Centro de Vacunación:
			input.form-control.text-center.is-valid#idCentroDeVacunacion(type='text' name='idCentroDeVacunacion' value=centroV.idCentroDeVacunacion disabled)
		.form-group
			label.form-label.text-center(for='ubicacion') Seleccione la ubicación del centro de vacunación en el mapa:
			#map
		.form-group
			label.form-label.text-center(for='longitud') Longitud:
			input.form-control.text-center.is-valid#longitud(type='text' name='longitud' readonly)
		.form-group
			label.form-label.text-center(for='latitud') Latitud:
			input.form-control.text-center.is-valid#latitud(type='text' name='latitud' readonly)
		br
		div.text-center
			button.btn.btn-primary(type='submit') Actualizar
			| &nbsp;&nbsp;&nbsp;&nbsp;
			button.btn.btn-primary(type='button' onclick='window.history.back()') Volver
script.
	$(function (){
		$('#map').css('width', $('#form').outerWidth() + 'px')
		$().ready(function () {
			initMap()
		})

		function initMap() {
			let map = L.map('map')
			L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: '© OpenStreetMap contributors'
			}).addTo(map)

			if ('geolocation' in navigator) {
			navigator.geolocation.getCurrentPosition(function (position) {
				const userLocation = [!{JSON.stringify(centroV)}.latitud, !{JSON.stringify(centroV)}.longitud]
				map.setView(userLocation, 15)
				const marker = L.marker(userLocation, { draggable: true }).addTo(map)
				marker.on('dragend', function (event) {
				actualizarCoordenadas(event.target.getLatLng())
				})
				actualizarCoordenadas(map.getCenter())
			})
			}
		}

		function actualizarCoordenadas(coords) {
			const lng = coords.lng.toFixed(6)
			const lat = coords.lat.toFixed(6)
			$(longitud).val(lng)
			$(latitud).val(lat)
		}
	})