include ..\includes\layout
block content
head
    title Centro de Vacunacion
    style.
        h2 {
            text-align: center;
            text-decoration: underline;
            text-underline-offset: 4px; /* Ajusta el espacio entre el texto y el subrayado */
        }
body
    div.container.my-4
      div.row
        div.col-sm-12.col-md-12.col-lg-12.col-xl-12
            section#viewCentrosDeVacunacion
                h2 Listado de Centros de Vacunación
                br
                div(style="text-align: left;")
                    a.btn.btn-primary.btn-lg(href="/centrosdevacunacion/alta") Alta
                    br
                    br
                    div.table.responsive
                        table#centrosdevacunacion.table.table-striped.table-bordered    
script.
    let centvac = !{JSON.stringify(centrosVac)};
    let cvtab 
    $(document).ready(function() {
        cvtab = $('#centrosdevacunacion').DataTable({
            data: centvac,
            pageLength:5,
            lengthMenu:[5,10,15,20],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-AR.json'
            },
            columns:[
                {data: 'idCentroDeVacunacion', title: 'ID Centro de Vacunación'},
                {data: 'longitud', title: 'Longitud'},
                {data: 'latitud', title: 'Latitud'},

                {
                    data: null, title: 'Opciones',
                    render: function(data, type, row) {
                        return `<button class="btn btn-success btn-sm fa-solid fa-pencil me-2"></button>` +
                            `<button class="btn btn-danger btn-sm fa-solid fa-trash-can"></button>`;
                    }
                }
            ],
            columnDefs: [
                {orderable: false, targets:[3]}, // Columna de "Opciones"
                {searchable: false, targets:[1, 2, 3]},
                {className: "dt-center", targets: [3]},
                { width: '5%', targets: [0, 1, 2] },
                { width: '1%', targets: [3] },
            ]
        });
    });
    $(document).ready(function() {
        cvtab.on('click', 'button', function (f) {
            let data = cvtab.row(f.target.closest('tr')).data();
            if ($(event.target).hasClass('fa-trash-can')) {
                if(confirm("¿Desea eliminar el Centro de Vacunación?")){
                    $.post('/centrosdevacunacion/'+data.idCentroDeVacunacion+'?_method=DELETE', function(data){
                         window.location.href = "/centrosdevacunacion";
                    })
                }
            } else {window.location.href= "/centrosdevacunacion/" + data.idCentroDeVacunacion}
        })
    });
    function alta(){
        window.location.href= "/centrosdevacunacion/alta"
    }
