- var title ='Alta de Laboratorio'
include ..\includes\layout
block content
html(lang="es")    
    head
        style.
            #formLaboratorio {
                max-width: 600px;
                margin: auto;
            }
            h2 {
                text-align: center;
                text-decoration: underline;
                text-underline-offset: 4px;
                margin-top: 10px;
            }
            label {
                margin-bottom: 5px;
            }
    body
        #formLaboratorio
            h2.text-center Ingresar un Laboratorio
            if messages.error
                .alert.alert-danger
                    = messages.error
            br
            form(action="/laboratorios" method="post")
                .form-group
                    label.form-label(for="nombre") Nombre Laboratorio:
                    .input-group.has-validation
                        input.form-control(type="text" id="nombre" name="nombreLaboratorio" required)
                        .invalid-feedback(id="nombreInvalido") Ingrese solo letras
                        .invalid-feedback.none(id="nombreExiste") Laboratorio Existente
                .form-group
                    label.form-label(for="pais") País:
                    .input-group.has-validation
                        input.form-control(type="text" id="pais" name="pais" required)
                        .invalid-feedback(id="paisInvalido") Ingrese solo letras
                .form-group
                    label.form-label(for="email") Email:
                    .input-group.has-validation
                        input.form-control(type="text" id="email" name="email" required)
                .form-group
                    label.form-label(for="telefono") Teléfono:
                    .input-group.has-validation
                        input.form-control(type="text" id="telefono" name="telefono" required)
                        .invalid-feedback(id="telInvalido") Ingrese solo números
                .form-group
                    label.form-label(for="longitud") Longitud:
                    .input-group.has-validation
                        input.form-control(type="text" id="longitud" name="longitud")
                        .invalid-feedback(id="longInvalido") Ingrese solo números
                .form-group
                    label.form-label(for="latitud") Latitud:
                    .input-group.has-validation
                        input.form-control(type="text" id="latitud" name="latitud")
                        .invalid-feedback(id="latInvalido") Ingrese solo números
                    br
                button(type="submit" class="btn btn-primary") Dar de Alta
                | &nbsp;&nbsp;&nbsp;&nbsp;
                button(type="button" class="btn btn-primary" onclick="window.history.back()") Volver
    script.
        const namePattern = /^[A-Za-záéíóúüñÁÉÍÓÚÜÑ\s]{1,30}$/;
        const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        const telefonoPattern = /^\d{10,}$/;
        const longitudPattern = /^[-+]?([1-8]?\d(\.\d+)?|90(\.0+)?)$/;
        const latitudPattern = /^[-+]?([1-8]?\d(\.\d+)?|90(\.0+)?)$/;
 

        function validarRegex(regex){
            if(!regex.test($(this).val())){
                this.addClass('is-invalid');
                this.removeClass('is-valid');
            } else {
                this.addClass('is-valid');
                this.removeClass('is-invalid');
            }
        }

        function validarExistente(endpoint){
            $.post(endpoint, {data:this.val()},  res=>{
                if(res.existe || !res.valido){
                    $('#'+endpoint).addClass('is-invalid').removeClass('is-valid');
                    if (res.existe){
                        $('#'+endpoint+'Existe').addClass("is-invalid").removeClass("d-none")
                    } else if (!res.valido){
                        $('#'+endpoint+'Invalido').addClass("is-invalid").removeClass("d-none")
                    }
                } else {
                    $('#'+endpoint).addClass('is-valid').removeClass('is-invalid');
                    $('#'+endpoint+'Invalido').addClass("d-none").removeClass("is-invalid")
                    $('#'+endpoint+'Existe').addClass("d-none").removeClass("is-invalid")
                }
            })
        }

        $(function (){
            $('#nombre').on('keyup', validarExistente.bind($('#nombre'), 'nombre'));
            $('#pais').on('keyup', validarRegex.bind($('#pais'), namePattern));
            $('#email').on('keyup', validarRegex.bind($('#email'), emailPattern));
            $('#telefono').on('keyup', validarRegex.bind($('#telefono'), telefonoPattern));
            $('#longitud').on('keyup', validarRegex.bind($('#longitud'), longitudPattern));
            $('#latitud').on('keyup', validarRegex.bind($('#latitud'), latitudPattern));
        });