//- Incluye tus estilos y scripts
- var title ='Alta de Laboratorio'
include ..\includes\layout
block content
    html(lang="es")
        head
            link(rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="")
            script(src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin="")
            style.
                #formLaboratorio {
                    max-width: 600px;
                    margin: auto;
                }
                h2 {
                    text-align: center;
                    text-decoration: underline;
                    text-underline-offset: 4px;
                    margin-top: 10px;
                }
                label {
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
                #map {
                    height: 300px;
                    width: 100%;
                    border: 1px solid #000;
                }
        body
            #formLaboratorio
                h2.text-center Ingresar un Laboratorio
                if messages.error
                    .alert.alert-danger
                        = messages.error
                form(action="/laboratorios" method="post" onsubmit="return validarFormulario()")
                    .form-group
                        label.form-label(for="nombreLaboratorio") Nombre de Laboratorio:
                        .input-group.has-validation
                            input.form-control(type="text" id="nombreLaboratorio" name="nombreLaboratorio" required)
                            .invalid-feedback.d-none(id="nombreLaboratorioInvalido") El nombre es invalido
                            .invalid-feedback.d-none(id="nombreLaboratorioMaximo") El nombre no puede contener más de treinta caracteres
                            .invalid-feedback.d-none(id="nombreLaboratorioVacio") El campo no puede estar vacío
                            .invalid-feedback.d-none(id="nombreLaboratorioExiste") El nombre de laboratorio ya existe en la BD
                    .form-group
                        label.form-label(for="pais") País:
                        .input-group.has-validation
                            input.form-control(type="text" id="pais" name="pais" required)
                            .invalid-feedback.d-none(id="paisInvalido") El país no puede contener números
                            .invalid-feedback.d-none(id="paisVacio") El campo no puede estar vacío
                            .invalid-feedback.d-none(id="paisMaximo") El país no puede contener más de cincuenta y seis caracteres
                    .form-group
                        label.form-label(for="email") Email:
                        .input-group.has-validation
                            input.form-control(type="email" id="email" name="email" required)
                            .invalid-feedback.d-none(id="emailInvalido") El email no es valido
                            .invalid-feedback.d-none(id="emailVacio") El campo no puede estar vacío
                    .form-group
                        label.form-label(for="telefono") Teléfono:
                        .input-group.has-validation
                            input.form-control(type="tel" id="telefono" name="telefono" title="Debe contener un máximo de 10 dígitos" required)
                            .invalid-feedback.d-none(id="telefonoInvalido") El teléfono no puede contener letras, espacios ni guiones
                            .invalid-feedback.d-none(id="telefonoMaximo") El teléfono debe contener 10 dígitos sin espacios ni guiones
                            .invalid-feedback.d-none(id="telefonoVacio") El campo no puede estar vacío
                    .form-group
                        label.form-label(for="ubicacion") Seleccione ubicación en el mapa:
                        #map
                    .form-group
                        label.form-label(for="longitud") Longitud:
                        input.form-control(type="text" id="longitud" name="longitud" readonly)
                    .form-group
                        label.form-label(for="latitud") Latitud:
                        input.form-control(type="text" id="latitud" name="latitud" readonly)
                        br
                    button(type="submit" class="btn btn-primary") Dar de alta
                    | &nbsp;&nbsp;&nbsp;&nbsp;
                    button(type="button" class="btn btn-primary" onclick="window.history.back()") Volver

    script.
        $(function () {
            $('#map').css('width', $('#formLaboratorio').outerWidth() + 'px');
            $().ready(function () {
                initMap();
            });

            function initMap() {
                let map = L.map('map');
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '© OpenStreetMap contributors'
                }).addTo(map);

                if ("geolocation" in navigator) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var userLocation = [position.coords.latitude, position.coords.longitude];
                        map.setView(userLocation, 15);
                        var marker = L.marker(userLocation, { draggable: true }).addTo(map);
                        marker.on('dragend', function (event) {
                            actualizarCoordenadas(event.target.getLatLng());
                        });
                        actualizarCoordenadas(map.getCenter());
                    });
                }
            }

            function actualizarCoordenadas(coords) {
                var lng = coords.lng.toFixed(6);
                var lat = coords.lat.toFixed(6);
                $('#longitud').val(lng);
                $('#latitud').val(lat);
            }

            // Funciones para mostrar y quitar errores
            function mostrarError(input, valid) {
                input.addClass('is-invalid').removeClass('is-valid').addClass();
                input.next('.invalid-feedback').removeClass('d-none');
                if (valid) $('#' + input.attr('id') + valid).removeClass('d-none');
            }

            function quitarError(input) {
                input.addClass('is-valid').removeClass('is-invalid');
                input.next('.invalid-feedback').addClass('d-none');
            }

            function validarNombLab() {
                // Limpiar errores previos
                quitarError($('#nombreLaboratorio'));
                let laboratorios = !{JSON.stringify(laboratorios)};
                if(!$('#nombreLaboratorio').val()) {
                    mostrarError($('#nombreLaboratorio'), 'Vacio');
                    $('#' + $('#nombreLaboratorio').attr('id') + 'Vacio').removeClass('d-none');
                    $('#' + $('#nombreLaboratorio').attr('id') + 'Existe').addClass('d-none');
                    $('#' + $('#nombreLaboratorio').attr('id') + 'Invalido').addClass('d-none');
                    $('#' + $('#nombreLaboratorio').attr('id') + 'Maximo').addClass('d-none');
                } else if(!/^[A-Za-záéíóúüñÁÉÍÓÚÜÑ\s]{1,}$/.test($('#nombreLaboratorio').val())) {
                    console.log(!/^[A-Za-záéíóúüñÁÉÍÓÚÜÑ\s]{1,}$/.test($('#nombreLaboratorio').val()))
                    mostrarError($('#nombreLaboratorio'), 'Invalido');
                    $('#' + $('#nombreLaboratorio').attr('id') + 'Invalido').removeClass('d-none');
                    $('#' + $('#nombreLaboratorio').attr('id') + 'Vacio').addClass('d-none');
                    $('#' + $('#nombreLaboratorio').attr('id') + 'Existe').addClass('d-none');
                    $('#' + $('#nombreLaboratorio').attr('id') + 'Maximo').addClass('d-none');
                } else if($('#nombreLaboratorio').val().length > 30) {
                    mostrarError($('#nombreLaboratorio'), 'Maximo');
                    $('#' + $('#nombreLaboratorio').attr('id') + 'Maximo').removeClass('d-none');
                    $('#' + $('#nombreLaboratorio').attr('id') + 'Vacio').addClass('d-none');
                    $('#' + $('#nombreLaboratorio').attr('id') + 'Invalido').addClass('d-none');
                    $('#' + $('#nombreLaboratorio').attr('id') + 'Existe').addClass('d-none');

                }
                laboratorios.forEach(laboratorio => {
                    if (laboratorio.nombreLaboratorio === $('#nombreLaboratorio').val()) {
                        mostrarError($('#nombreLaboratorio'), 'Existe');
                        $('#' + $('#nombreLaboratorio').attr('id') + 'Existe').removeClass('d-none');
                        $('#' + $('#nombreLaboratorio').attr('id') + 'Vacio').addClass('d-none');
                        $('#' + $('#nombreLaboratorio').attr('id') + 'Invalido').addClass('d-none');
                    }
                })
            }

            function validarPais(){
                quitarError($('#pais'));
                if ($('#pais').val().length == 0) {
                    mostrarError($('#pais'), 'Vacio');
                    $('#' + $('#pais').attr('id') + 'Vacio').removeClass('d-none');
                    $('#' + $('#pais').attr('id') + 'Invalido').addClass('d-none');
                    $('#' + $('#pais').attr('id') + 'Maximo').addClass('d-none');
                } else if (!/^[A-Za-záéíóúüñÁÉÍÓÚÜÑ\s]{1,}$/.test($('#pais').val())) {
                    mostrarError($('#pais'), 'Invalido');
                    $('#' + $('#pais').attr('id') + 'Invalido').removeClass('d-none');
                    $('#' + $('#pais').attr('id') + 'Vacio').addClass('d-none');
                    $('#' + $('#pais').attr('id') + 'Maximo').addClass('d-none');
                } else if ($('#pais').val().length > 56) {
                    mostrarError($('#pais'), 'Maximo');
                    $('#' + $('#pais').attr('id') + 'Maximo').removeClass('d-none');
                    $('#' + $('#pais').attr('id') + 'Vacio').addClass('d-none');
                    $('#' + $('#pais').attr('id') + 'Invalido').addClass('d-none');
                }
            }

            function validarEmail(){
                quitarError($('#email'));
                if ($('#email').val().length == 0) {
                    mostrarError($('#email'), 'Vacio');
                    $('#' + $('#email').attr('id') + 'Vacio').removeClass('d-none');
                    $('#' + $('#email').attr('id') + 'Invalido').addClass('d-none');
                } else if (!/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test($('#email').val())) {
                    mostrarError($('#email'), 'Invalido');
                    $('#' + $('#email').attr('id') + 'Invalido').removeClass('d-none');
                    $('#' + $('#email').attr('id') + 'Vacio').addClass('d-none');
                } 
            }

            function validarTelefono(){
                quitarError($('#telefono'));
                if ($('#telefono').val().length == 0) {
                    mostrarError($('#telefono'), 'Vacio');
                    $('#' + $('#telefono').attr('id') + 'Vacio').removeClass('d-none');
                    $('#' + $('#telefono').attr('id') + 'Invalido').addClass('d-none');
                    $('#' + $('#telefono').attr('id') + 'Maximo').addClass('d-none');
                } else if (!/^[0-9]{1,}$/.test($('#telefono').val())) {
                    mostrarError($('#telefono'), 'Invalido');
                    $('#' + $('#telefono').attr('id') + 'Invalido').removeClass('d-none');
                    $('#' + $('#telefono').attr('id') + 'Vacio').addClass('d-none');
                    $('#' + $('#telefono').attr('id') + 'Maximo').addClass('d-none');
                } else if ($('#telefono').val().length != 10) {
                    mostrarError($('#telefono'), 'Maximo');
                    $('#' + $('#telefono').attr('id') + 'Maximo').removeClass('d-none');
                    $('#' + $('#telefono').attr('id') + 'Vacio').addClass('d-none');
                    $('#' + $('#telefono').attr('id') + 'Invalido').addClass('d-none');
                }
            }

            // Función para validar todos los campos antes de enviar el formulario
            function validarFormulario() {
                var inputs = $('#formLaboratorio input:visible');
                let valid = true;
                inputs.each(function () {
                    var input = $(this);
                    validarCampo(input, namePattern, 'Vacio', 'Existe', 'Invalido');
                    if (!input.hasClass('is-valid')) {
                        valid = false;
                    }
                });

                if (!valid) {
                    alert('Por favor, complete todos los campos correctamente.');
                }
                return valid;
            }

            // Eventos
            $('#nombreLaboratorio').on('keyup focusout', function () {
                validarNombLab();
            });

            $('#pais').on('keyup focusout', function () {
                validarPais();
            });

            $('#email').on('keyup focusout', function () {
                validarEmail();
            });

            $('#telefono').on('keyup focusout', function () {
                validarTelefono();
            });

            $('#map').on('dragend', function (event) {
                quitarError($('#map'));
                quitarError($('#longitud'));
                quitarError($('#latitud'));
                var lng = event.target.getCenter().lng.toFixed(6);
                var lat = event.target.getCenter().lat.toFixed(6);
                actualizarCoordenadas({ lng: lng, lat: lat });
            });

            $('#longitud, #latitud').on('focusout', function () {
                $(this).addClass('is-valid').removeClass('is-invalid');
            });

            $('#nombreLaboratorio, #pais, #email, #telefono, #longitud, #latitud').trigger('focusout');

            $('#formLaboratorio').on('submit', function () {
                console.log("Formulario enviado");
                console.log(validarFormulario());
            });
        });
