include ..\includes\layout
block content
head
    title Laboratorio
    style.
        h2 {
            text-align: center;
            text-decoration: underline;
            text-underline-offset: 4px; /* Ajusta el espacio entre el texto y el subrayado */
        }

body
    div.container.my-4
      div.row
        div.col-sm-12.col-md-12.col-lg-12.col-xl-12
            section#viewLaboratorios
                h2 Listado de Laboratorios
                br
                if messages.success
                    .alert.alert-success
                        = messages.success 
                div(style="text-align: left;")
                    a.btn.btn-primary.btn-lg(href="/laboratorios/alta") Alta
    
                    br
                    br
                    div.table.responsive
                        table#laboratorios.table.table-striped.table-bordered
                //Bootstrap   
script.
    //let table = new DataTable('#laboratorios');
    let labs = !{JSON.stringify(laboratorios)};
    let tabla 
    $(document).ready(function() {
       tabla = $('#laboratorios').DataTable({
            data: labs,
            pageLength:5,
            lengthMenu:[5,10,15,20],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-AR.json'
            },
            columns:[
                {data: 'nombreLaboratorio', title: 'Nombre'},
                {data: 'pais', title: 'Pais'},
                {data: 'email', title: 'Email'},
                {data: 'telefono', title: 'Telefono'},
                {data: 'longitud', title: 'Longitud'},
                {data: 'latitud', title: 'Latitud'},
                {
                    data: null, title: 'Opciones',
                    render: function(data, type, row) {
                        return `<button class="btn btn-success btn-sm fa-solid fa-pencil me-2"></button>` +
                            `<button class="btn btn-danger btn-sm fa-solid fa-trash-can"></button>`;
                    }
                }
            ],
            columnDefs: [
                {orderable: false, targets:[6]}, // Columna de "Opciones"
                {searchable: false, targets:[4, 5, 6]},
                {className: "dt-center", targets: [6]},
                { width: '5%', targets: [0] },
                { width: '10%', targets: [3, 4, 5] },
                { width: '15%', targets: [0, 1, 2] }, // Ancho del 10% para la primera columna
                { width: '8%', targets: [6] },
            ]
        });
    });
    
    $(document).ready(function() {
        tabla.on('click', 'button', function (f) {
            let data = tabla.row(f.target.closest('tr')).data();
            if ($(event.target).hasClass('fa-trash-can')) {
                if(confirm("¿Desea eliminar el Laboratorio?")){
                    $.ajax({
                        url: '/laboratorios/'+data.idLaboratorio+'?_method=DELETE',
                        type: 'POST',
                        success: function(data) {
                            if (data.success) {
                                window.location.href = "/laboratorios";
                            } else {
                                console.error(data.message);
                                window.location.href = "/laboratorios";
                            }
                        },
                        error: function(error) {
                            console.error(error);
                        }
                    });
                }
            } else {window.location.href= "/laboratorios/" + data.idLaboratorio}
        })
    });
    
    function alta(){
        window.location.href= "/laboratorios/alta"
    }
    