- var title = 'Listado de Laboratorios'
include ..\includes\layout
block content
head
    title Laboratorios
    style.
        h2 {
            text-align: center;
            text-decoration: underline;
            text-underline-offset: 4px; /* Ajusta el espacio entre el texto y el subrayado */
        }
        .modal-content {
            background-color: #f1f1f1;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
        .modal-header {
            background-color: #dc3545;
            color: white;
        }
        .modal-body {
            padding: 20px;
        }
        #mensajeAlerta{
            color: #721c24;
        }
        .modal-footer {
            background-color: #f1f1f1;
        }

        .flash-message {
            display: none;
            opacity: 1;
            transition: opacity 1s ease-out;
        }

        .fade-in {
            display: block;
            animation: fadeOut 3s 1s; /* fadeIn dura 3 segundos, fadeOut comienza después de 3 segundos y dura 2 segundos */
        }

        @keyframes fadeOut {
            from {
                opacity: 1;
            }
            to {
                opacity: 0;
            }
        }

        .navbar-nav .nav-item:hover .nav-link {
            cursor: pointer;
            color: #0000FF;
        }

body
    div.container.my-4
        div.row
            div.col-sm-13.col-md-13.col-lg-13.col-xl-13
                section#viewLaboratorios
                    h2 Listado de Laboratorios
                    br
                    br
                    if messages.success
                        .alert.alert-success.flash-message.fade-in
                            = messages.success
                    if messages.error
                        .alert.alert-danger.flash-message.fade-in
                            = messages.error
                    div.modal#confirmDeleteModal(tabindex="-1" role="dialog")
                        div.modal-dialog(role="document")
                            div.modal-content
                                div.modal-header
                                    h5.modal-title Confirmar la eliminación del laboratorio
                                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                                        span(aria-hidden="true") &times;
                                div.modal-body
                                    p#mensajeAlerta ¿Está seguro de que desea eliminar este laboratorio?
                                div.modal-footer
                                    button.btn.btn-secondary(id="cancelDeleteBtn" type="button" data-dismiss="modal") Cancelar
                                    button.btn.btn-danger(id="confirmDeleteBtn" type="button") Confirmar
                    div(style="text-align: left;")
                        a.btn.btn-primary.btn-lg(href="/laboratorios/alta") Alta
                        br
                        br
                        div.table.responsive 
                            table#laboratorios.table.table-striped.table-bordered


script.
    let tabla 
    $(document).ready(function() {
        tabla = $('#laboratorios').DataTable({
            data: !{JSON.stringify(laboratorios)},
            pageLength:5,
            lengthMenu:[5,10,15,20],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-AR.json'
            },
            columns:[
                {data: 'nombreLaboratorio', title: 'Nombre del laboratorio'},
                {data: 'pais', title: 'País de origen'},
                {data: 'email', title: 'Email'},
                {data: 'telefono', title: 'Telefono del laboratorio' },
                {data: 'longitud', title: 'Longitud'},
                {data: 'latitud', title: 'Latitud'},

                {
                    data: 'opciones', title: 'Opciones',
                    render: function(data, type, row) {
                        return `<button class="btn btn-success btn-sm fa-solid fa-pencil me-2"></button>` +
                            `<button class="btn btn-danger btn-sm fa-solid fa-trash-can"></button>`;
                    }
                }
            ],
            columnDefs: [
                {orderable: false, targets:[6]}, // Columna de "Opciones"
                {searchable: false, targets:[4, 5, 6]},
                {className: "dt-center", targets: [0, 1, 2, 3, 4, 5, 6]},
                { width: '5%', targets: [0] },
                { width: '10%', targets: [3, 4, 5] },
                { width: '15%', targets: [0, 1, 2] }, // Ancho del 10% para la primera columna
                { width: '8%', targets: [6] },
            ]
        });
    });

    $(document).ready(function() {
        $('.flash-message').addClass('fade-in');
        setTimeout(function() {
            $('.flash-message').removeClass('fade-in');
        }, 3000);

        tabla.on('click', 'button', function (f) {
            let data = tabla.row(f.target.closest('tr')).data();
            if ($(event.target).hasClass('fa-trash-can')) {
                $('#confirmDeleteModal').modal('show');
                $('#confirmDeleteBtn').on('click', function() {
            // Realizar la acción de eliminación
            $.ajax({
                url: '/laboratorios/' + data.idLaboratorio + '?_method=DELETE',
                type: 'POST',
                success: function(data) {
                    if (data.success) {
                        window.location.href = "/laboratorios";
                    } else {
                        console.error(data.message);
                        //window.location.href = "/laboratorios";
                    }
                },
                error: function(error) {
                    console.error(error);
                }
            });

            $('#confirmDeleteModal').modal('hide');
        });

        // Configurar el botón de cancelar y la 'X' para cerrar el modal
        $('#cancelDeleteBtn, .modal-header button.close').on('click', function() {
            $('#confirmDeleteModal').modal('hide');
        });

        // Agregar evento al documento para escuchar la tecla 'Enter'
        $(document).on('keydown', function(e) {
            if (e.key === 'Enter' && $('#confirmDeleteModal').is(':visible')) {
                // Disparar el evento de click en el botón de confirmación
                $('#confirmDeleteBtn').trigger('click');
            }
        });
            } else {
                window.location.href = "/laboratorios/" + data.idLaboratorio;
            }
        });

        // Configurar el botón de confirmar y la 'X' para cerrar el modal
    });