body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}


h1 {
	color: black;
	font-size: 6em;
	text-align: center;
}

h2 {
	text-align: center;
	text-decoration: underline;
	text-underline-offset: 4px;
	margin-top: 10px;
}

label {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}

input[type="submit"] {
	background-color: #007bff;
	color: #ffffff;
	cursor: pointer;
}

.container {
	margin: 50px auto;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-centered th {
    text-align: center !important;
}

.dt-center {
    text-align: center !important;
}

.modal-content {
	background-color: #f1f1f1;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-header {
	background-color: #dc3545;
	color: white;
}

.modal-body {
	padding: 20px;
}

.modal-footer {
	background-color: #f1f1f1;
}

.navbar-nav .nav-item:hover .nav-link {
	cursor: pointer;
	color: #0000ff;
}

.flash-message {
	display: none;
	opacity: 1;
	transition: opacity 1s ease-out;
}

.fade-in {
	display: block;
	animation: fadeOut 3s 1s; /* fadeIn dura 3 segundos, fadeOut comienza después de 3 segundos y dura 2 segundos */
}

#form {
	max-width: 600px;
	margin: auto;
}

#map {
	height: 300px;
	width: 100%;
	border: 1px solid #000;
}

#mensajeAlerta {
	color: #721c24;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.card-button {
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
}

.card-button:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2);
}

.card-body {
    text-align: center;
}

.card-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #e9ecef;
    text-align: center;
}
