include ..\includes\layout
block content

head
    title Lote Interno
    style.
        h2 {
            text-align: center;
            text-decoration: underline;
            text-underline-offset: 4px; /* Ajusta el espacio entre el texto y el subrayado */
        }
body
    div.container.my-4
      div.row
        div.col-sm-12.col-md-12.col-lg-12.col-xl-12
            section#viewLotesInternos
                h2 Listado de Lotes Internos
                br
                div(style="text-align: left;")
                    a.btn.btn-primary.btn-lg(href="/lotesinternos/crear") Crear
                    br
                    br
                    div.table.responsive
                        table#lotesinternos.table.table-striped.table-bordered
            #mensajeModal.modal.fade(tabindex='-1' aria-labelledby='mensajeModalLabel' aria-hidden='true')
                .modal-dialog
                    .modal-content
                        .modal-header
                            h5#mensajeModalLabel.modal-title Mensaje
                            button(type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close')
                        .modal-body
                            p#mensajeTexto
script.
  function mostrarMensaje() {
    const successMessage = obtenerParametroURL('successMessage');
    const errorMessage = obtenerParametroURL('errorMessage');
    const mensajeModal = new bootstrap.Modal(document.getElementById('mensajeModal')); // Obtener el modal

    if (successMessage) {
      // Mostrar mensaje de éxito en el modal
      document.getElementById('mensajeTexto').innerText = successMessage;
      mensajeModal.show();
    } else if (errorMessage) {
      // Mostrar mensaje de error en el modal
      document.getElementById('mensajeTexto').innerText = errorMessage;
      mensajeModal.show();
    }
    console.log('El script se está ejecutando correctamente al cargar la página.');
  }

  window.onload = mostrarMensaje;

script.
    let loteint = !{JSON.stringify(lotesInternos)};
    let litab 
    $(document).ready(function() {
        litab = $('#lotesinternos').DataTable({
            data: loteint,
            pageLength:5,
            lengthMenu:[5,10,15,20],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-AR.json'
            },
            columns:[
                {data: 'numeroDeSerie', title: 'Número de Serie'},
                {data: 'numeroDeLote', title: 'Número de Lote'},
                {data: 'Loteproveedor.Laboratorio.nombreLaboratorio', title: 'Laboratorio fabricante'},
                {data: 'cantidadDeVacunas', title: 'Cantidad de Vacunas'},
                {data: 'fechaDeLlegadaDepositoNacional', title: 'Fecha de Llegada al Deposito Nacional'},
                {data: 'idDepositoNacional', title: 'ID del Deposito Nacional'},
                {data: 'fechaDeSalidaDepositoNacional', title: 'Fecha de Salida del Deposito Nacional'},
                {data: 'fechaDeLlegadaDepositoProvincial', title: 'Fecha de Llegada al Deposito Provincial'},
                {data: 'idDepositoProvincial', title: 'ID del Deposito Provincial'},
                {data: 'fechaDeSalidaDepositoProvincial', title: 'Fecha de Salida del Deposito Provincial'},
                {data: 'fechaDeLlegadaCentroDeVacunacion', title: 'Fecha de Llegada al Centro de Vacunación'},
                {data: 'idCentroDeVacunacion', title: 'ID del Centro de Vacunación'},
                {
                    data: null, title: 'Opciones',
                    render: function(data, type, row) {
                        return `<button class="btn btn-success btn-sm fa-solid fa-pencil me-2"></button>` +
                            `<button class="btn btn-danger btn-sm fa-solid fa-trash-can"></button>`;
                    }
                }
            ],
            columnDefs: [
                //{orderable: false, targets:[12]}, // Columna de "Opciones"
                {searchable: false, targets:[1, 2, 3]},
                {className: "dt-center", targets: [2, 3, 5, 8, 11]},
                { width: "7%", targets: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11] },
                { width: "10%", targets: [12] }
            ]
        });
    });
    $(document).ready(function() {
        litab.on('click', 'button', function (f) {
            let data = litab.row(f.target.closest('tr')).data();
            if ($(event.target).hasClass('fa-trash-can')) {
                if(confirm("¿Desea eliminar el Lote Interno?")){
                    $.post('/lotesinternos/'+data.numeroDeSerie+'?_method=DELETE', function(data){
                         window.location.href = "/lotesinternos";
                    })
                }
            } else {window.location.href= "/lotesinternos/" + data.numeroDeSerie}
        })
    });
    function crear(){
        window.location.href= "/lotesinternos/crear"
    }