head
    title Deposito Provincial
section#formDepositoProvincial
h2 Depósito Provincial
form(action="/depositosprovinciales/" method="post")
      label(for="longitud") Longitud:
      input(type="text" id="longitud" name="longitud" placeholder="Ej. -54.801725" required)
      label(for="latitud") Latitud:
      input(type="text" id="latitud" name="latitud" placeholder="Ej. 32.603722" required)
      br
      br
    
      button(type="submit") Guardar