- var title ='Actualizar Depósito Nacional'
include ..\includes\layout
block content
html(lang="es") 
    head
       style.
            #formDepositoNacional {
                max-width: 600px;
                margin: auto;
            }
            h2 {
                text-align: center;
                text-decoration: underline;
                text-underline-offset: 4px;
                margin-top: 10px;
            }
            label {
                margin-bottom: 5px;
            }
            .readonly-input {
                color: gray;
                background-color: #f0f0f0;
            }

    body
        #formDepositoNacional
            h2.text-center Actualice el Depósito Nacional
            br
            form(action="/depositosnacionales/"+depositoN.idDepositoNacional+"?_method=PUT" method="post")
                .form-group
                    label.form-label(for="idDepositoNacional") ID Depósito Nacional:
                    input.form-control.readonly-input(type="text" id="idDepositoNacional" name="idDepositoNacional" value=depositoN.idDepositoNacional readonly disabled)
                br
                .form-group
                    label.form-label(for="longitud") Longitud:
                    input.form-control(type="text" id="longitud" name="longitud" value=depositoN.longitud)
                br
                .form-group
                    label.form-label(for="latitud") Latitud:
                    input.form-control(type="text" id="latitud" name="latitud" value=depositoN.latitud)
                br
                button(type="submit" class="btn btn-primary") Actualizar
                | &nbsp;&nbsp;&nbsp;&nbsp;
                button(type="button" class="btn btn-primary" onclick="window.history.back()") Volver