- var title ='Alta de depósito nacional'
include ..\includes\layout
block content
html(lang="es") 
head
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="")
    script(src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin="")
    style.
        #formDepositoNacional {
            max-width: 600px;
            margin: auto;
        }
body
    h2.text-center Ingresar los datos del depósito nacional
    if messages.error
        .alert.alert-danger
            = messages.error
    form#formDepositoNacional(action="/depositosnacionales" method="post")
        .form-group
            label.form-label(for="ubicacion") Seleccione la ubicación del depósito nacional en el mapa:
            #map
        .form-group
            label.form-label(for="longitud") Longitud:
            input.form-control(type="text" id="longitud" name="longitud" readonly)
        .form-group
            label.form-label(for="latitud") Latitud:
            input.form-control(type="text" id="latitud" name="latitud" readonly)
        br
        div.text-center
            button(type="submit" class="btn btn-primary") Alta
            | &nbsp;&nbsp;&nbsp;&nbsp;
            button(type="button" class="btn btn-primary" onclick="window.history.back()") Volver
script.
    $(function (){
        $('#map').css('width', $('#formDepositoNacional').outerWidth() + 'px');
        $().ready(function () {
            initMap();
        });

        function initMap() {
            let map = L.map('map');
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '© OpenStreetMap contributors'
            }).addTo(map);

            if ("geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var userLocation = [position.coords.latitude, position.coords.longitude];
                    map.setView(userLocation, 15);
                    var marker = L.marker(userLocation, { draggable: true }).addTo(map);
                    marker.on('dragend', function (event) {
                        actualizarCoordenadas(event.target.getLatLng());
                    });
                    actualizarCoordenadas(map.getCenter());
                });
            }
        }

        function actualizarCoordenadas(coords) {
            var lng = coords.lng.toFixed(6);
            var lat = coords.lat.toFixed(6);
            $('#longitud').val(lng);
            $('#latitud').val(lat);
        }

        $('#longitud, #latitud').on('focusout', function() {
            $(this).addClass('is-valid').removeClass('is-invalid');
        });

        $('#longitud, #latitud').trigger('focusout');
    });
script.
    $(function (){
        $('#map').css('width', $('#formCentroDeVacunacion').outerWidth() + 'px');
        $().ready(function () {
            initMap();
        });

        function initMap() {
            let map = L.map('map');
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
            }).addTo(map);

            if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var userLocation = [position.coords.latitude, position.coords.longitude];
                map.setView(userLocation, 15);
                var marker = L.marker(userLocation, { draggable: true }).addTo(map);
                marker.on('dragend', function (event) {
                actualizarCoordenadas(event.target.getLatLng());
                });
                actualizarCoordenadas(map.getCenter());
            });
            }
        }

        function actualizarCoordenadas(coords) {
            var lng = coords.lng.toFixed(6);
            var lat = coords.lat.toFixed(6);
            $('#longitud').val(lng);
            $('#latitud').val(lat);
        }

        $('#longitud, #latitud').on('focusout', function() {
            $(this).addClass('is-valid').removeClass('is-invalid');
        });

        $('#longitud, #latitud').trigger('focusout');
    });