include ..\includes\layout
block content
head
    title Descarte
    style.
        h2 {
            text-align: center;
            text-decoration: underline;
            text-underline-offset: 4px; /* Ajusta el espacio entre el texto y el subrayado */
        }
body
    div.container.my-4
        div.row
            div.col-sm-12.col-md-12.col-lg-12.col-xl-12
            section#viewDescarte
                h2 Listado de Descartes
                br
                if messages.success
                    .alert.alert-success
                        = messages.success
                div(style="text-align: left;")
                    a.btn.btn-primary.btn-lg(href="/descartes/crear") Crear
                    br
                    br
                    div.table.responsive
                        table#descartes.table.table-striped.table-bordered
script.
    let desc = !{JSON.stringify(descartes)};
    let desctab
    $(document).ready(function(){
        desctab = $('#descartes').DataTable({
            data: desc,
            pageLength:5,
            lengthMenu:[5,10,15,20],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-AR.json'
            },
            columns:[
                {data:'idDescarte', title: 'ID Descarte'},
                {data: 'Agentedesalud.Persona.nombre', title:'Nombre del Agente'},
                {data: 'Agentedesalud.Persona.apellido', title: 'Apellido del Agente'},
                {data: 'numeroDeSerie', title: 'N° de Serie del Lote'},
                {data: 'empresaDescartante', title: 'Empresa Descartante'},
                {data: 'motivo', title: 'Motivo del Descarte'},
                {data: 'cantidadDeVacunas', title: 'Cant. de Vacunas Descartadas'},
                {data: 'fechaDeDescarte', title: 'Fecha de Descarte'},
                {data: 'opciones', title: 'Opciones',
                    render: function (data) {
                        return `<button class="btn btn-success btn-sm fa-solid fa-pencil me-2"></button>` +
                            `<button class="btn btn-danger btn-sm fa-solid fa-trash-can"></button>`;
                    }}
            ],
            columnDefs: [
                {orderable: false, targets:[8]}, // Columna de "Opciones"
                {className: "dt-center", targets: [0, 1, 2, 3, 4, 5, 6, 7, 8]},
                { width: '10%', targets: [0, 1, 2, 3] },
                { width: '15%', targets: [4, 6] },	
                { width: '10%', targets: [5, 7, 8] },
            ]
        });
    });
    $(document).ready(function(){
        desctab.on('click', 'button', function(f){
            let data = desctab.row(f.target.closest('tr')).data();
            if($(event.target).hasClass('fa-trash-can')){
                if(confirm('¿Seguro que desea eliminar este descarte?')) {
                $.post('/descartes/'+data.idDescarte+'?_method=DELETE', function(data){
                         window.location.href = "/descartes";
                    })
                }
                } else {window.location.href= "/descartes/" + data.idDescarte}
        })
    });
    function crear(){
        window.location.href= "/descartes/crear"
    }