include ..\includes\layout
block content
head
    title Descarte
    style.
        h2 {
            text-align: center;
            text-decoration: underline;
            text-underline-offset: 4px; /* Ajusta el espacio entre el texto y el subrayado */
        }
body
    div.container.my-4
        div.row
            div.col-sm-12.col-md-12.col-lg-12.col-xl-12
            section#viewDescarte
                h2 Listado de Descartes
                br
                div(style="text-align: left;")
                    a.btn.btn-primary.btn-lg(href="/descartes/alta") Crear
                    br
                    br
                    div.table.responsive
                        table#descartes.table.table-striped.table-bordered
script.
    let desc = !{JSON.stringify(Descartes)};
    //let agentes = Persona.foreach(persona => {persona.ocupacion == 'agente de salud'});
    let desctab
    $(document).ready(function(){
        desctab = $('#descartes').DataTable({
            data: desc,
            pageLength:5,
            lengthMenu:[5,10,15,20],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-AR.json'
            },
            columns:[
                {data:'idDescarte', title: 'ID del descarte'},
                {data: 'Agentedesalud.Persona.nombre', title:'Nombre del agente'},
                {data: 'Agentedesalud.Persona.apellido', title: 'Apellido del agente'},
                {data: 'numeroDeSerie', title: 'N° de serie del lote'},
                {data: 'empresaDescartante', title: 'Empresa descartante'},
                {data: 'motivo', title: 'Motivo del descarte'},
                {data: 'cantidadDeVacunas', title: 'Cant. de vacunas descartadas'},
                {data: 'fechaDeDescarte', title: 'Fecha de descarte'},
                {data: 'opciones', title: 'Opciones',
                    render: function (data) {
                        return `<button class="btn btn-success btn-sm fa-solid fa-pencil me-2"></button>` +
                            `<button class="btn btn-danger btn-sm fa-solid fa-trash-can"></button>`;
                    }}
            ],
        });
    });
    $(document).ready(function(){
        desctab.on('click', 'button', function(f){
            let data = desctab.row(f.target.closest('tr')).data();
            if($(event.target).hasClass('fa-trash-can')){
                if(confirm('¿Seguro que desea eliminar este descarte?')) {
                $.post('/descartes/'+data.idDescarte+'?_method=DELETE', function(data){
                         window.location.href = "/descartes";
                    })
                }
                } else {window.location.href= "/descartes/" + data.idDescarte}
        })
    });