- var title = 'Listado de descartes'
include ..\includes\layout
block content
body
    div.container.my-4
        div.row
            div.col-sm-13.col-md-13.col-lg-13.col-xl-13
            section#viewDescarte
                h2 Listado de los descartes
                br
                if messages.success
                    .alert.alert-success.flash-message.fade-in
                        = messages.success
                if messages.error
                    .alert.alert-danger.flash-message.fade-in
                        = messages.error
                div.modal#confirmDeleteModal(tabindex="-1" role="dialog")
                    div.modal-dialog(role="document")
                        div.modal-content
                            div.modal-header
                                h5.modal-title Confirmar la eliminación de la traslado
                                button.close(type="button" data-dismiss="modal" aria-label="Close")
                                    span(aria-hidden="true") &times;
                            div.modal-body
                                p#mensajeAlerta ¿Está seguro de que desea eliminar este traslado?
                            div.modal-footer
                                button.btn.btn-secondary(id="cancelDeleteBtn" type="button" data-dismiss="modal") Cancelar
                                button.btn.btn-danger(id="confirmDeleteBtn" type="button") Confirmar
                div(style="text-align: left;")
                a.btn.btn-primary.btn-lg(href="/descartes/crear") Crear
                br
                br
                div.table.responsive
                    table#descartes.table.table-striped.table-bordered
script.
    let tabla
    $(document).ready(function(){
        tabla = $('#descartes').DataTable({
            data: !{JSON.stringify(descartes)},
            pageLength:5,
            lengthMenu:[5,10,15,20],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-AR.json'
            },
            columns:[
                {data: 'idDescarte', title: 'ID Descarte'},
                {data: 'Agentedesalud.Persona.nombre', title:'Nombre del Agente'},
                {data: 'Agentedesalud.Persona.apellido', title: 'Apellido del Agente'},
                {data: 'numeroDeSerie', title: 'N° de Serie del Lote'},
                {data: 'empresaDescartante', title: 'Empresa Descartante'},
                {data: 'motivo', title: 'Motivo del Descarte'},
                {data: 'cantidadDeVacunas', title: 'Cant. de Vacunas Descartadas'},
                {data: 'fechaDeDescarte', title: 'Fecha de Descarte'},
                {
                    data: 'opciones', title: 'Opciones',
                    render: function(data, type, row) {
                        return `<button class="btn btn-success btn-sm fa-solid fa-pencil me-2"></button>` +
                            `<button class="btn btn-danger btn-sm fa-solid fa-trash-can"></button>`;
                    }
                }
            ],
            columnDefs: [
                {orderable: false, targets:[8]}, // Columna de "Opciones"
                {className: "dt-center", targets: [0, 1, 2, 3, 4, 5, 6, 7, 8]},
                { width: '10%', targets: [0, 1, 2, 3] },
                { width: '15%', targets: [4, 6] },	
                { width: '10%', targets: [5, 7, 8] },
            ]
        });
    });

    $(document).ready(function() {
        $('.flash-message').addClass('fade-in');
        setTimeout(function() {
            $('.flash-message').removeClass('fade-in');
        }, 3000);

        tabla.on('click', 'button', function (f) {
            let data = tabla.row(f.target.closest('tr')).data();
            if ($(event.target).hasClass('fa-trash-can')) {
                $('#confirmDeleteModal').modal('show');
                $('#confirmDeleteBtn').on('click', function() {
            // Realizar la acción de eliminación
            $.ajax({
                url: '/descartes/' + data.idDescarte + '?_method=DELETE',
                type: 'POST',
                success: function(data) {
                    if (data.success) {
                        window.location.href = "/descartes";
                    } else {
                        console.error(data.message);
                        //window.location.href = "/descartes";
                    }
                },
                error: function(error) {
                    console.error(error);
                }
            });

            $('#confirmDeleteModal').modal('hide');
        });

        // Configurar el botón de cancelar y la 'X' para cerrar el modal
        $('#cancelDeleteBtn, .modal-header button.close').on('click', function() {
            $('#confirmDeleteModal').modal('hide');
        });

        // Agregar evento al documento para escuchar la tecla 'Enter'
        $(document).on('keydown', function(e) {
            if (e.key === 'Enter' && $('#confirmDeleteModal').is(':visible')) {
                // Disparar el evento de click en el botón de confirmación
                $('#confirmDeleteBtn').trigger('click');
            }
        });
            } else {
                window.location.href = "/descartes/" + data.idDescarte;
            }
        });

        // Configurar el botón de confirmar y la 'X' para cerrar el modal
    });