- const title = 'Reporte Vacunas Enviadas'
include ..\includes\layout
block content

    .container.mt-4
        .row.justify-content-center
            .col-md-5
                h2.mx-auto.text-center(style="white-space: nowrap;") Completa los filtros para 
                h2.mx-auto.text-center(style="white-space: nowrap;") el reporte de envíos de vacunas
                .row.mb-3
                form(action="/reportes/enviosvacunas" method="get")
                    .form-group
                        label.form-label(for="fechaInicio") Fecha de Inicio:
                        input.form-control(type="date" name="fechaInicio" id="fechaInicio" required)
                    .form-group
                        label.form-label(for="fechaFin") Fecha de Fin:
                        input.form-control(type="date" name="fechaFin" id="fechaFin" required)
                    .form-group
                        label(for="provincia") Seleccione una provincia:
                        select.form-select#provincia(name="provincia")
                            option(disabled selected hidden value="") Selecciona una provincia
                                each provincia in provincias
                                    option(value=provincia)= provincia
                    div.d-none#loc
                        .form-group
                            label.form-label(for="localidad") Seleccione una localidad:
                                select.form-select.is-valid#localidad(name="localidad")
                    div.d-none#centro
                        .form-group
                            label.form-label(for="idCentroDeVacunacion") Seleccione un centro de vacunación:
                            .input-group.has-validation
                                select.form-select.is-valid#idCentroDeVacunacion(name="idCentroDeVacunacion")
                    .text-center.mt-4
                        button.btn.btn-primary(type="submit") Generar Reporte

script(src="https://code.jquery.com/jquery-3.6.0.min.js")
script.
    async function cargarLocalidades(){
        const provincia = $('#provincia').val();
        const response = await fetch(`https://apis.datos.gob.ar/georef/api/localidades?provincia=${provincia}`);
        const data = await response.json();
        const localidades = data.localidades.map(localidad => localidad.nombre);
        localidades.sort((a, b) => a.localeCompare(b));
        $('#localidad').empty();
        $('#localidad').append(new Option('Seleccione una localidad', ''));
        localidades.forEach(localidad => {
            $('#localidad').append(new Option(localidad, localidad));
        });
    }

    async function cargarCentros() {
        const provincia = $('#provincia').val();
        console.log("Provincia seleccionada: " + provincia);
        $.ajax({
            url: `/centrosdevacunacion/centrosJSON/${provincia}`,  // Ajusta la URL para incluir el parámetro provincia
            type: 'GET',
            success: function(response) {
                console.log("Datos de centros recibidos: ", response);
                if (response.success) {
                    const data = response.data;
                    if (data.length > 0) {
                        let $centro = $('#idCentroDeVacunacion');
                        $centro.empty().append('<option selected value="">Selecciona un centro de vacunación</option>');
                        data.forEach(function(centro) {
                            console.log(centro)
                            $centro.append(new Option(centro.idCentroDeVacunacion + ' - ' + centro.direccion, centro.idCentroDeVacunacion));  // Ajusta según tu estructura de datos
                        });
                        $('#centro').removeClass('d-none');
                    } else {
                        console.error("No se encontraron centros de vacunación para la provincia seleccionada.");
                    }
                } else {
                    console.error("Error: ", response.message);
                }
            },
            error: function(error) {
                console.error("Error al cargar los centros de vacunación:", error);
            }
        });
    }

    $(document).ready(function() {
        // Maneja el cambio de provincia
        $('#provincia').change(function() {
            let provincia = $(this).val();
            if (provincia) {
                $('#loc').removeClass('d-none');
                cargarLocalidades();
            } else {
                $('#loc').addClass('d-none');
            }
            $('#centro').addClass('d-none');
        });

        // Maneja el cambio de localidad
        $('#localidad').change(function() {
            let localidad = $(this).val();
            if (localidad) {
                $('#centro').removeClass('d-none');
                cargarCentros();
            } else {
                $('#centro').addClass('d-none');
            }
            $('#centro').addClass('d-none');
        });
    });
