- const title = 'Reporte Vacunas Enviadas'
include ..\includes\layout
block content

    .container.mt-4
        .row.justify-content-center
            .col-md-5
                h2.mx-auto.text-center(style="white-space: nowrap;") Completa los filtros para 
                h2.mx-auto.text-center(style="white-space: nowrap;") el reporte de envíos de vacunas
                .row.mb-3
                form(action="/reportes/enviosvacunas" method="get")
                    .form-group
                        label.form-label(for="fechaInicio") Fecha de Inicio:
                        input.form-control(type="date" name="fechaInicio" id="fechaInicio" required)
                    .form-group
                        label.form-label(for="fechaFin") Fecha de Fin:
                        input.form-control(type="date" name="fechaFin" id="fechaFin" required)
                    .form-group
                        label(for="provincia") Seleccione una provincia:
                        select.form-select#provincia(name="provincia")
                            option(disabled selected hidden value="") Selecciona una provincia
                                each provincia in provincias
                                    option(value=provincia)= provincia
                    div.d-none#loc
                        .form-group
                            label.form-label(for="localidad") Seleccione una localidad:
                                select.form-select.is-valid#localidad(name="localidad")
                    div.d-none#centro
                        .form-group
                            label.form-label(for="idCentroDeVacunacion") Seleccione un centro de vacunación:
                            .input-group.has-validation
                                select.form-select.is-valid#idCentroDeVacunacion(name="idCentroDeVacunacion")
                    .text-center.mt-4
                        button.btn.btn-primary(type="submit") Generar Reporte
