- const title = 'Reporte Vacunas Enviadas'
include ..\includes\layout
block content

    .container.mt-4
        .row.justify-content-center
            .col-md-5
                h2(style="white-space: nowrap;") Completa los filtros para el reporte
                .row.mb-3
                form(action="/reportes/enviosvacunas" method="get")
                    .form-group
                        label.form-label(for="fecha") Fecha:
                            input.form-control(type="date" name="fecha" id="fecha" required)
                    
                    .form-group
                        label.form-label(for="filtro") Filtro:
                            select.form-select(name="filtro" id="filtro" required)
                                option(value="idCentroDeVacunacion") Centro de Vacunación
                                option(value="provincia") Provincia
                                option(value="localidad") Localidad
                                

                    .form-group
                        label.form-label(for="valor") Valor:
                            input.form-control(type="text" name="valor" id="valor" required)

                    .text-center.mt-4
                        button.btn.btn-primary(type="submit") Generar Reporte
