include ..\includes\layout
block content
head
    title Lote Proveedor
    style.
        h2 {
            text-align: center;
            text-decoration: underline;
            text-underline-offset: 4px; /* Ajusta el espacio entre el texto y el subrayado */
        }
        .alert-message {
                position: fixed;
                top: 20px;
                right: 20px;
                z-index: 1000;
                display: none; /* Ocultar inicialmente */
            }
body
    div.container.my-4
        div.row
            div.col-sm-12.col-md-12.col-lg-12.col-xl-12
                section#viewLotesProveedores
                    h2 Listado de Lotes Proveedores
                    br
                    if messages.success.length
                        .alert-message#flashMessage.alert.alert-success
                            each message in messages.success // Recorre los mensajes
                                = message
                    div(style="text-align: left;")
                        a.btn.btn-primary.btn-lg(href="/lotesproveedores/crear") Crear
                        br
                        br
                        div.table.responsive
                            table#lotesproveedores.table.table-striped.table-bordered

script.
    let lotes = !{JSON.stringify(lotesProveedores)}
    let lotestab

    $(document).ready(function() {
        // Asegúrate de usar el mismo id de la tabla aquí
        lotestab = $('#lotesproveedores').DataTable({
            data: lotes,
            pageLength: 5,
            lengthMenu: [5, 10, 15, 20],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-AR.json'
            },
            columns: [
                { data: 'numeroDeLote', title: 'Número de Lote' },
                { data: 'Laboratorio.nombreLaboratorio', title: 'Nombre del Laboratorio' },
                { data: 'tipoDeVacuna', title: 'Tipo de Vacuna' },
                { data: 'nombreComercial', title: 'Nombre Comercial de la Vacuna' },
                { data: 'cantidadDeLotesInternos', title: 'Cantidad de Lotes Internos' },
                { data: 'fechaDeFabricacion', title: 'Fecha de Fabricación' },
                { data: 'fechaDeVencimiento', title: 'Fecha de Vencimiento' },
                { data: 'fechaDeCompra', title: 'Fecha de Compra' },
                {
                    data: null, title: 'Opciones',
                    render: function(data, type, row) {
                        return `<button class="btn btn-success btn-sm fa-solid fa-pencil me-2"></button>` +
                            `<button class="btn btn-danger btn-sm fa-solid fa-trash-can"></button>`;
                    }
                }
            ],
            columnDefs: [
                {orderable: false, targets:[8]}, // Columna de "Opciones"
                {searchable: false, targets:[1, 2, 3]},
                {className: "dt-center", targets: [0, 1, 2, 3, 4, 5, 6, 7, 8]},
                { width: "10%", targets: [1, 5, 6, 7, 8] },
                { width: "5%", targets: [0] },
                { width: "10%", targets: [2, 3, 4] }
            ]
        });
    });
    $(document).ready(function() {
        lotestab.on('click', 'button', function(f) {
            let data = lotestab.row(f.target.closest('tr')).data();
            if ($(event.target).hasClass('fa-trash-can')) {
                if(confirm('¿Seguro que desea eliminar este lote?')) {
                    $.post('/lotesproveedores/' + data.numeroDeLote + '?_method=DELETE', function(data) {
                        window.location.href = "/lotesproveedores";
                    })
                }
            } else {
                window.location.href = "/lotesproveedores/" + data.numeroDeLote;
            }
        });
    })
    
    $(document).ready(function() {
        let successMessages = !{JSON.stringify(messages.success)};
        
        if (successMessages.length > 0) {
            let flashElement = $('<div>').addClass('alert alert-success alert-message');
            successMessages.forEach(function(message) {
                flashElement.append($('<p>').text(message));
            });
            $('.container').prepend(flashElement); // Agrega los mensajes al principio del contenedor
            flashElement.fadeIn('slow', function() {
                setTimeout(function(){
                    flashElement.fadeOut('slow');
                }, 5000);
            });
        } else {
            // Si no hay mensajes, oculta el elemento flash (por si estaba mostrándose anteriormente)
            $('.alert-message').fadeOut('slow');
        }
    });

    function crear(){
        window.location.href= "/lotesproveedores/crear"
    }
    

