include ..\includes\layout
block content
head
    title Lote proveedor
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous")
    link(href="https://cdn.datatables.net/v/dt/dt-1.13.8/b-2.4.2/datatables.min.css" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" rel="stylesheet")
    style.
        h2 {
            text-align: center;
            text-decoration: underline;
            text-underline-offset: 4px; /* Ajusta el espacio entre el texto y el subrayado */
        }
body
    div.container.my-4
        div.row
            div.col-sm-12.col-md-12.col-lg-12.col-xl-12
            section#viewLotesProveedores
                h2 Listado de lotes proveedores
                br
                div(style="text-align: left;")
                    a.btn.btn-primary.btn-lg(href="/lotesproveedores/alta") Alta
                    br
                    br
                    div.table.responsive 
                        table#lotesproveedores.table.table-striped.table-bordered
                            
            script(src="https://cdn.datatables.net/v/dt/dt-1.13.8/b-2.4.2/datatables.min.js")
            script(src="https://code.jquery.com/jquery-3.6.0.slim.min.js", integrity="sha384-uLlR6ZHi0I0Zv8zOe4u/gj11Bnz9qgIn1eXt2uI8z5l5shCh/d3Q9DHgm49P" crossorigin="anonymous")
            script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js", integrity="sha384-Yw1sE6UJ68UEU/5IcJkGJgBhzqQ1S4C4yDO5AqbohMz3zAzpXVrK8f5XW6OlYIzR", crossorigin="anonymous")
            script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js", integrity="sha384-pzjw8L+3D5IIU/9TUKJ6gZwU0txhx9RWK/E5LD8jLlAxCj9tt3fcF1jMWL8ceM" crossorigin="anonymous")


// En la vista, asegúrate de que la tabla tenga el mismo id que usas en el script
div.table.responsive 
    table#lotesproveedores.table.table-striped.table-bordered

script.
    let lotes = !{JSON.stringify(lotesProveedores)}
    let lotestab

    $(document).ready(function() {
        // Asegúrate de usar el mismo id de la tabla aquí
        lotestab = $('#lotesproveedores').DataTable({
            data: lotes,
            pageLength: 5,
            lengthMenu: [5, 10, 15, 20],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-AR.json'
            },
            columns: [
                { data: 'numeroDeLote', title: 'Número de lote' },
                { data: 'Laboratorio.nombreLaboratorio', title: 'Nombre del laboratorio' },
                { data: 'tipoDeVacuna', title: 'Tipo de vacuna' },
                { data: 'nombreComercial', title: 'Nombre comercial de la vacuna' },
                { data: 'cantidadDeLotesInternos', title: 'Cantidad de lotes internos' },
                { data: 'fechaDeFabricacion', title: 'Fecha de fabricación' },
                { data: 'fechaDeVencimiento', title: 'Fecha de vencimiento' },
                { data: 'fechaDeCompra', title: 'Fecha de compra' },
                {
                    data: null, title: 'Opciones',
                    render: function(data, type, row) {
                        return `<button class="btn btn-success btn-sm fa-solid fa-pencil me-2"></button>` +
                            `<button class="btn btn-danger btn-sm fa-solid fa-trash-can"></button>`;
                    }
                }
            ],
        });
    });

    $(document).ready(function() {
        lotestab.on('click', 'button', function(f) {
            let data = lotestab.row(f.target.closest('tr')).data();
            if ($(event.target).hasClass('fa-trash-can')) {
                if(confirm('¿Seguro que desea eliminar este lote?')) {
                    $.post('/lotesproveedores/' + data.numeroDeLote + '?_method=DELETE', function(data) {
                        window.location.href = "/lotesproveedores";
                    })
                }
            } else {
                window.location.href = "/lotesproveedores/" + data.numeroDeLote;
            }
        });
    })

//script.
    let lotes = !{JSON.stringify(lotesProveedores)}
    let lotestab

    $(document).ready(function() {
        lotestab = $('#lotes').DataTable({
            data: lotes,
            pageLength:5,
            lengthMenu:[5,10,15,20],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-AR.json'
            }
            columns:[
                {data: 'numeroDeLote', title:'Número de lote'},
                {data: 'Laboratorio.nombreLaboratorio', title: 'Nombre del laboratorio'},
                {data: 'tipoDeVacuna', title: 'Tipo de vacuna'},
                {data: 'nombreComercial', title: 'Nombre comercial de la vacuna'},
                {data: 'cantidadDeLotesInternos', title: 'Cantidad de lotes internos'},
                {data: 'fechaDeFabricacion', title: 'Fecha de fabricación'},
                {data: 'fechaDeVencimiento', title: 'Fecha de vencimiento'},
                {data: 'fechaDeCompra', title: 'Fecha de compra'},
                {
                    data: null.
                    render: function(data, type, row){
                        return `<button class="btn btn-success btn-sm fa-solid fa-pencil me-2"></button>` +
                            `<button class="btn btn-danger btn-sm fa-solid fa-trash-can"></button>`;
                    }
                }
            ],
            /*columnDefs: [
                {searchable: false, targets: [4, 5, 6, 7]},

            ]*/
        });
    });
    $(document).ready(function(f) {
        perstab.on('click', 'button', function() {
            let data = lotestab.row(f.target.closest('tr')).data();
            if($(event.target).hasClass('fa-trash-can')){
                if(confirm('¿Seguro que desea eliminar este lote?')){
                    $.post('/lotesproveedores/'+data.numeroDeLote+'?_method=DELETE', function(data) {
                        window.location.href = "/lotesproveedores";
                    })
                }
            } else {window.location.href= "/lotesproveedores/" + data.numeroDeLote}}
        );
    });